/* screen - index */

.index {
  align-items: flex-start;
  background-color: #05082b;
  display: flex;
  height: 3903px;
  overflow: hidden;
  width: 1600px;
}

.index .overlap-group3 {
  height: 4399px;
  margin-left: -261px;
  margin-top: -213px;
  position: relative;
  width: 2151px;
}

.index .overlap-group {
  height: 2856px;
  left: -290px;
  position: absolute;
  top: 1119px;
  width: 2191px;
}

.index .ellipse-4 {
  height: 1407px;
  left: 784px;
  position: absolute;
  top: 556px;
  width: 1407px;
}

.index .ellipse-5 {
  height: 1407px;
  left: 622px;
  position: absolute;
  top: 1449px;
  width: 1407px;
}

.index .ellipse-3 {
  height: 1407px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1407px;
}

.index .group-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 779px;
  min-height: 493px;
  position: absolute;
  top: 559px;
  width: 974px;
}

.index .text-1-1 {
  letter-spacing: 0;
  line-height: 63.0px;
  min-height: 189px;
  width: 968px;
}

.index .text-2-1 {
  letter-spacing: 0;
  line-height: 33.6px;
  margin-top: 30px;
  min-height: 204px;
  opacity: 0.7;
  width: 949px;
}

.index .find-our-beer {
  height: 19px;
  margin-left: 0.5px;
  margin-top: 40px;
  width: 153px;
}

.index .group-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 778px;
  min-height: 498px;
  position: absolute;
  top: 2098px;
  width: 560px;
}

.index .text {
  letter-spacing: 0;
  line-height: 63.0px;
  min-height: 126px;
  width: 558px;
}

.index .group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 234px;
  width: 562px;
}

.index .text-1 {
  letter-spacing: 0;
  line-height: 33.6px;
  min-height: 102px;
  opacity: 0.7;
  width: 558px;
}

.index .text-2 {
  letter-spacing: 0;
  line-height: 33.6px;
  margin-top: 30px;
  min-height: 102px;
  opacity: 0.7;
  width: 558px;
}

.index .group-1 {
  align-items: flex-start;
  display: flex;
  margin-top: 50px;
  min-width: 421px;
}

.index .frame-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 58px;
  min-width: 177px;
  padding: 0 50px;
  transition: all 0.2s ease;
}

.index .frame-1:hover {
  transform: scale(1.1);
}

.index .buy-now {
  color: var(--white);
  font-family: var(--font-family-coolvetica-regular);
  font-size: var(--font-size-m);
  letter-spacing: 0;
  line-height: 33.6px;
  min-height: 34px;
  min-width: 77px;
  white-space: nowrap;
}

.index .frame-2 {
  cursor: pointer;
  height: 58px;
  margin-left: 37px;
  transition: all 0.2s ease;
  width: 207px;
}

.index .frame-2:hover {
  transform: scale(1.1);
}

.index .group-11 {
  align-items: center;
  display: flex;
  height: 832px;
  left: 742px;
  min-width: 1182px;
  position: absolute;
  top: 1145px;
}

.index .dc59dfaa7bcfc49-22ce8b73781ce-1 {
  height: 832px;
  mix-blend-mode: lighten;
  width: 599px;
}

.index .group-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  min-height: 498px;
  width: 560px;
}

.index .frame-1-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 58px;
  min-width: 184px;
  padding: 0 50px;
  transition: all 0.2s ease;
}

.index .frame-1-1:hover {
  transform: scale(1.1);
}

.index .buy-now-1 {
  letter-spacing: 0;
  line-height: 33.6px;
  min-height: 34px;
  min-width: 84px;
  white-space: nowrap;
}

.index .frame-2-1 {
  cursor: pointer;
  height: 58px;
  margin-left: 30px;
  transition: all 0.2s ease;
  width: 207px;
}

.index .frame-2-1:hover {
  transform: scale(1.1);
}

.index .download-8-1 {
  height: 900px;
  left: 1310px;
  mix-blend-mode: lighten;
  object-fit: cover;
  position: absolute;
  top: 1897px;
  width: 719px;
}

.index .overlap-group1 {
  height: 2540px;
  left: -404px;
  position: absolute;
  top: -404px;
  width: 2864px;
}

.index .ellipse-1 {
  height: 1462px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1462px;
}

.index .ellipse-2 {
  height: 1407px;
  left: 1457px;
  position: absolute;
  top: 1133px;
  width: 1407px;
}

.index .c91434108967833-1 {
  height: 1670px;
  left: 704px;
  mix-blend-mode: lighten;
  position: absolute;
  top: 528px;
  width: 1584px;
}

.index .text-9 {
  color: var(--white);
  font-family: var(--font-family-coolvetica-regular);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 910px;
  letter-spacing: 0;
  line-height: 117.0px;
  position: absolute;
  top: 845px;
  width: 733px;
}

.index .group-1-1 {
  height: 59px;
  left: 908px;
  position: absolute;
  top: 1244px;
  width: 59px;
}

.index .image-64 {
  height: 71px;
  left: 894px;
  position: absolute;
  top: 657px;
  width: 107px;
}

.index .text-10 {
  color: var(--white);
  font-family: var(--font-family-baloo_2);
  font-size: var(--font-size-l);
  font-weight: 700;
  left: 1609px;
  letter-spacing: 0;
  line-height: 41.6px;
  opacity: 0.7;
  position: absolute;
  top: 1599px;
  width: 503px;
}

.index .frame-4 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 57px;
  left: 1874px;
  min-width: 164px;
  padding: 0 40px;
  position: absolute;
  top: 664px;
  transition: all 0.2s ease;
}

.index .frame-4:hover {
  transform: scale(1.1);
}

.index .buy-now-2 {
  letter-spacing: 0;
  line-height: 27.3px;
  min-height: 27px;
  min-width: 84px;
  white-space: nowrap;
}

.index .overlap-group2 {
  height: 1489px;
  left: -356px;
  position: absolute;
  top: 3314px;
  width: 2911px;
}

.index .group-13 {
  background-color: #16193a;
  height: 150px;
  left: 617px;
  position: absolute;
  top: 652px;
  width: 1600px;
}

.index .ellipse-6 {
  height: 1462px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 1462px;
}

.index .ellipse-7 {
  height: 1462px;
  left: 1449px;
  position: absolute;
  top: 0;
  width: 1462px;
}

.index .image-67 {
  height: 61px;
  left: 844px;
  position: absolute;
  top: 697px;
  width: 92px;
}

.index .group-6 {
  align-items: flex-start;
  display: flex;
  height: 26px;
  left: 1368px;
  min-width: 634px;
  position: absolute;
  top: 714px;
}

.index .place {
  letter-spacing: 0;
  line-height: 25.6px;
  min-height: 26px;
  min-width: 42px;
  white-space: nowrap;
}

.index .about {
  letter-spacing: 0;
  line-height: 25.6px;
  margin-left: 40px;
  min-height: 26px;
  min-width: 44px;
  white-space: nowrap;
}

.index .faq {
  letter-spacing: 0;
  line-height: 25.6px;
  margin-left: 40px;
  min-height: 26px;
  min-width: 29px;
  white-space: nowrap;
}

.index .place-1 {
  letter-spacing: 0;
  line-height: 25.6px;
  margin-left: 40px;
  min-height: 26px;
  min-width: 56px;
  white-space: nowrap;
}

.index .text-11 {
  letter-spacing: 0;
  line-height: 25.6px;
  margin-left: 40px;
  min-height: 26px;
  min-width: 153px;
  white-space: nowrap;
}

.index .privacy-policy {
  letter-spacing: 0;
  line-height: 25.6px;
  margin-left: 40px;
  min-height: 26px;
  white-space: nowrap;
}
